{% extends "base2.html" %}

{% block content %}

{% load static %}
<div class="container">
    <h3>Your Upcoming Events:</h3>
        <div class="row" style="margin-top:50px;" >
            <div class="col">
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent">
                        <img src="{% static "seniordesign/poker?,_i_barely_know_er.jpg" %}" height="176px" width="auto">
                        <div style = "margin-top:10px;">
                            <h3>Poker Night</h3>
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col" >
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent2">
                        <img src="{% static "seniordesign/pooliosis.jpg" %}" height="176px" width="176px">
                        <div style = "margin-top:10px;">
                            <h3>Pool & Billiards</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col" >
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent3">
                        <img src="{% static "seniordesign/debate.gif" %}" height="176px" width="176px">
                        <div style = "margin-top:10px;">
                            <h3>Debate Tournament</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;" >
            <div style = "text-align: center;width:100%"><button><a href = "/myEvents">View All</a></button></div>
        </div>
    </div>
 

        <div class="container">
                <div class="row" style="margin-top:80px;" >
                    <div class="col">
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/myEvents">
                            <img src = "{% static "seniordesign/events_icon.png" %}" height="120px" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>View My Events</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    <div class="col" >
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/explore">
                                <img src = "{% static "seniordesign/search_icon.PNG" %}" height="120px" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>Explore</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col" >
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/createEvent">
                                <img src = "{% static "seniordesign/new.png" %}" height="auto" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>Create Event</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}
