{% extends "base2.html" %}

{% block content %}

{% load static %}
<div class="container">
    <h3>Your Upcoming Events:</h3>
        <div class="row" style="margin-top:50px;" >
            <div class="col">
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent">
                    <img src = "{% static "seniordesign/logo.png" %}" height="auto" width="auto">
                        <div style = "margin-top:10px;">
                            <h3>Event 1</h3>
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="col" >
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent">
                        <img src = "{% static "seniordesign/logo.PNG" %}" height="auto" width="auto">
                        <div style = "margin-top:10px;">
                            <h3>Event 2</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col" >
                <div style = "color:#439DBB;text-align: center;">
                    <a class ="main_page" href =  "/viewEvent">
                        <img src = "{% static "seniordesign/logo.png" %}" height="auto" width="auto">
                        <div style = "margin-top:10px;">
                            <h3>Event 3</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;" >
            <div style = "text-align: center;width:100%"><button><a href = "/myEvents">View All</a></button></div>
        </div>
    </div>
 

        <div class="container">
                <div class="row" style="margin-top:80px;" >
                    <div class="col">
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/myEvents">
                            <img src = "{% static "seniordesign/logo.png" %}" height="auto" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>View My Events</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    <div class="col" >
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/explore">
                                <img src = "{% static "seniordesign/logo.PNG" %}" height="auto" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>Explore</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col" >
                        <div style = "color:#439DBB;text-align: center;">
                            <a class ="main_page" href =  "/createEvent">
                                <img src = "{% static "seniordesign/logo.png" %}" height="auto" width="auto">
                                <div style = "margin-top:50px;">
                                    <h3>Create Event</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}
