{% extends "base2.html" %}

{% block content %}

{% load static %}

<div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img class="image-two image-border" src="{% static "seniordesign/logo.png" %}" height="10%" width="auto" />
        </div>
        <!-- list of reasons I love Ami here -->
        <div class="col-xs-9 col-sm-9 col-md-9 list-background">
          <p> This will be a list of events within the db: </p>
          <p>Add a filter to show user created events vs user joined events</p>
          <ul>
            <li> Event 1 </li>
            <li> Event 2 </li>
            <li> Event 3 </li>
            <li> Event 4 </li>
          </ul>
        </div>
</div>
      
{% endblock content %}