{% extends "base2.html" %}

{% block content%}
{% load static %}

<div class="row" style="margin-top:50px;" >
    <div style = "text-align: center;width:100%">
            <img src="{% static "seniordesign/poker?,_i_barely_know_er.jpg" %}" height="206px" width="auto">
            <hr>
            <h2>Poker Night</h2>
            <h5>Hosted By: Me</h5>
            <h5>Location: Brooklyn</h5>
            <h5>Distance: 0.4 miles away</h5>
        <button>
            <a href = "/homePage">Interested</a>
        </button>
        <button>
            <a href = "/homePage">Going</a>
        </button>
        <button>
            <a href = "/chatapp/chat">Go to Chat</a>
        </button>
    </div>
</div>


{% endblock content%}