{% extends "base2.html" %}

{% block content%}
{% load static %}

<div class="row" style="margin-top:50px;" >
    <div style = "text-align: center;width:100%">
            <img src="{% static "seniordesign/food.jpg" %}" height="206px" width="auto">
            <hr>
            <h2>Free Food</h2>
            <h5>Hosted By: Foods R' Us</h5>
            <h5>Location: 9 MetroTech, Brooklyn, NY</h5>
            <h5>Distance: 0.1 miles away</h5>
        <button>
            <a href = "/homePage">Interested</a>
        </button>
        <button>
            <a href = "/homePage">Going</a>
        </button>
        <button>
            <a href = "/chatapp/chat">Go to Chat</a>
        </button>
    </div>
</div>


{% endblock content%}